name: Deploy to Azure App Service

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: rkemery-playlist-maker
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
